<script>
    Handlebars.registerHelper ("setChecked", function (value, currentValue) {
        if ( value == currentValue ) {
            return "selected";
        } else {
            return "";
        }
    });
</script>

<form action="{{action}}" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <legend>{{lookup langs action}} {{langs.choir}} </legend>

    <div class="form-group">
        <label for="choir_name">{{langs.name}} {{langs.of}} {{langs.choir}} </label>
        <input type="text" class="form-control" name="choir_name" id="choir_name" placeholder={{langs.name}}>
    </div>


    <div class="form-group">
        <label for="npa">{{langs.npa}}</label>
        <input type="text" maxlength="10" size="10" class="form-control" name="choir_npa" id="choir_npa" value="{{choeur.Locality.npa}}" placeholder="{{langs.npa}}">

    </div>


    <div class="form-group">
        <label for="lieu">{{langs.lieu}}</label>
        <input type="text" class="form-control" name="choir_lieu" id="choir_lieu" value="{{choeur.Locality.localityName}}" placeholder = "{{langs.lieu}}">
    </div>


    <div class="form-group">
        <label for="effectif">{{langs.effectif}}</label>
        <input type="text" class="form-control" name="choir_effectif" id="choir_effectif" value = "{{choeur.effectif}}" placeholder="{{langs.effectif}}">
    </div>



    <div class="form-group">
        <label for="fondation">{{langs.fondation}}</label>
        <input type="text" class="form-control" name="choir_fondation" id="choir_fondation" value="{{choeur.yearOfCreation}}" placeholder="{{langs.fondation}}">
    </div>

    <div class="form-group">
        <label for="homepage">{{langs.homepage}}</label>
        <input type="text" class="form-control" name="choir_homepage" id="choir_homepage" value="{{choeur.website}}" placeholder="{{langs.homepage}}">
    </div>


    <div class="form-group">
        <label for="grpregion">{{langs.groupements}} + {{langs.region}}</label>
        <h2>TODO : GET GROUPS FROM DATABASE</h2>>
        <select name="grpregion">
            <option value="0" {{{setChecked 0 choeur.Groupe.id}}}>UCC_Y</option>
            <option value="1" {{{setChecked 1 choeur.Groupe.id}}}>Bas-Valais Membre GSCBV</option>
            <option value="2" {{{setChecked 2 choeur.Groupe.id}}}>Bas-Valais Non Membre GSCBV</option>
            <option value="3" {{{setChecked 3 choeur.Groupe.id}}}>Centre du Valais - Membre UCC</option>
            <option value="4" {{{setChecked 4 choeur.Groupe.id}}}>Centre du Valais - Non Membre UCC</option>
            <option value="5" {{{setChecked 5 choeur.Groupe.id}}}>Valais Central - Membre GCVC</option>
            <option value="6" {{{setChecked 6 choeur.Groupe.id}}}>Valais Central - Non Membre GCVC</option>
            <option value="7" {{{setChecked 7 choeur.Groupe.id}}}>Oberwallis - Membre OCV</option>
            <option value="8" {{{setChecked 8 choeur.Groupe.id}}}>Oberwallis - Non Membre OCV</option>


        </select>
    </div>



    <div class="form-group">
        <label for="dekanat">Dekanat (Nur fur OCV)</label>
        <h2>TODO : GET DEKNAT FROM DATABASE if OCV SELECTED</h2>>
        <select name="deknat">
            <option value="0"></option>
            <option value="1">Weltlich</option>
            <option value="2">Leuk</option>
            <option value="3">Raron</option>
            <option value="4">Visp</option>
            <option value="5">Brig</option>
            <option value="6">Ernen</option>

        </select>
    </div>

    <div class="form-group">
        <label for="federationcanton">{{langs.federation_canton}}</label>
        <input type="radio" name="memberfscv" value="memberfscv" checked> Member FSCV</input>
        <input  type="radio" name="memberfscv" value="Nonmember">Non Member FSCV</input>
    </div>


    <div class="form-group">
        <label for="dateentree">{{langs.date_canton_federaton_entry}}</label>
        <input type="text" class="form-control" maxlength="4" name="dateentree" id="dateentree">
    </div>

    <div class="form-group">
        <label for="language">Langue </label>
        <select name="language" id="language">
            <option value="1">French</option>
            <option value="2">Deutsch</option>
        </select>
    </div>

    <div class="form-group">
        <label for="typeofchoir">Type of Choir </label>
        <select name="typeofchoir" id="typeofchoir">
            <option value="1">CX</option>
            <option value="2">Choir</option>
            <option value="3">Choir</option>
            <option value="4">Choir</option>
            <option value="5">Choir</option>
            <option value="6">Choir</option>
        </select>
    </div>

    <div class="form-group">
        <label for="stypeofchoir">Type of Choir </label>
        <select name="stypeofchoir" id="stypeofchoir">
            <option value="1">CX</option>
            <option value="2">Choir</option>
            <option value="3">Choir</option>
            <option value="4">Choir</option>
            <option value="5">Choir</option>
            <option value="6">Choir</option>
            <option value="7">Iej jfasfjasdfhasfksaf;l </option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">{{lookup langs action}} {{langs.choir}}</button>

</form>


