

{{#if event}}
    <form action="/admin/event/modify/{{article.id}}" method="post">
{{else}}
    <form action="/admin/event/add" method="post">
{{/if}}



    <div class="form-group">
        <input required="true" type="text" class="form-control" name="title" value="{{event.title}}" placeholder="{{langs.title}}" autofocus><br>
    </div>
    <div class="form-group">
        <select required="true" class="form-control" name="groupe">
            <option selected disabled>Groupe...</option>
            {{#each groupes}}
                <option>{{this.groupName}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="2" name="info" required="true"  placeholder="{{langs.details}}">{{event.info}}</textarea>
    </div>

    <div class="form-group">
        <input type="date" class="form-control" rows="2" name="start" required="true" value="{{event.start}}"  placeholder="{{langs.start}}"/>
    </div>

    <div class="form-group">
        <input type="date" class="form-control" rows="2" name="end" required="true"  value="{{event.end}}"  placeholder="{{langs.end}}"/>
    </div>


    <button type="submit" class="btn btn-primary">{{langs.save}}</button>
</form>


