<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/javascripts/formhelper.js"></script>

<form action="/admin/choeurs/{{action}}" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <legend>{{lookup langs action}} {{langs.choir}} </legend>

    <input type="hidden" name="id" value="{{choeur.id}}"/>

    <div class="form-group">
        <label for="choirName">{{langs.name}} {{langs.of}} {{langs.choir}} </label>
        <input type="text" class="form-control" name="choirName" id="choirName" value="{{choeur.choirName}}" placeholder={{langs.name}}>
    </div>

    <div class="form-group">
        <label for="address1">{{langs.address}}</label>
        <input type="text" class="form-control" name="address1" id="address1" value="{{choeur.address1}}" placeholder="{{langs.address1}}">
    </div>

    <div class="form-group">
        <label for="address2">{{langs.complement}}</label>
        <input type="text" class="form-control" name="address2" id="address2" value="{{choeur.address2}}" placeholder="{{langs.address2}}">
    </div>


    <div class="form-group">
        <label for="npa">{{langs.npa}}</label>
        <input type="text" maxlength="10" size="10" class="form-control" name="npa" id="npa" value="{{choeur.Locality.npa}}" placeholder="{{langs.npa}}">

    </div>


    <div class="form-group">
        <label for="localityName">{{langs.lieu}}</label>
        <input type="text" class="form-control" name="localityName" id="localityName" value="{{choeur.Locality.localityName}}" placeholder = "{{langs.lieu}}">
    </div>


    <!--div class="form-group">
        <label for="effectif">{{langs.effectif}}</label>
        <input type="text" class="form-control" name="choir_effectif" id="choir_effectif" value = "{{choeur.effectif}}" placeholder="{{langs.effectif}}">
    </div-->



    <div class="form-group">
        <label for="yearOfCreation">{{langs.fondation}}</label>
        <input type="date" class="form-control" name="yearOfCreation" id="yearOfCreation" value="{{choeur.yearOfCreation}}" placeholder="{{langs.fondation}}">
    </div>

    <div class="form-group">
        <label for="website">{{langs.homepage}}</label>
        <input type="text" class="form-control" name="website" id="website" value="{{choeur.website}}" placeholder="{{langs.homepage}}">
    </div>


    <div class="form-group">
        <label for="GroupeId">{{langs.groupements}}</label>
        <select class="custom-select" id="GroupeId" name="GroupeId">
            {{#each groups}}
                <option value="{{this.id}}">{{this.groupName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="entryGroup">{{langs.date_group_entry}}</label>
        <input type="date" class="form-control" maxlength="4" name="entryGroup" id="entryGroup" value="{{choeur.entryGroup}}">
    </div>

    <div class="form-group">
        <label for="memberfc">{{langs.membrefed}}</label>
        <div class="form-check">
            <input type="radio" name="memberfc" value="true"/>
            <label class="form-check-label" for="memberfc">{{langs.yes}}</label>
            <input  type="radio" name="memberfc" value="false" checked/>
            <label class="form-check-label" for="memberfc">{{langs.no}}</label>
        </div>
    </div>

    <div class="form-group">
        <label for="entryfc">{{langs.date_canton_federaton_entry}}</label>
        <input type="date" class="form-control" maxlength="4" name="entryfc" id="entryfc" value="{{choeur.entryfc}}">
    </div>


    <div class="form-group">
        <label for="chEglise">{{langs.cheglise}}</label>
        <div class="form-check">
            <input type="radio" name="chEglise" value="true"/>
            <label class="form-check-label" for="chEglise">{{langs.yes}}</label>
            <input  type="radio" name="chEglise" value="false" checked/>
            <label class="form-check-label" for="chEglise">{{langs.no}}</label>
        </div>
    </div>

    <div class="form-group">
        <label for="chGospel">{{langs.chgospel}}</label>
        <div class="form-check">
            <input type="radio" name="chGospel" value="true"/>
            <label class="form-check-label" for="chGospel">{{langs.yes}}</label>
            <input  type="radio" name="chGospel" value="false" checked/>
            <label class="form-check-label" for="chGospel">{{langs.no}}</label>
        </div>
    </div>



    <div class="form-group">
        <label for="LanguageId">{{langs.langue}} </label>
        <select class="custom-select" name="LanguageId" id="LanguageId">
            {{#each languages}}
                <option value="{{this.id}}">{{this.language}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="ChoirTypeId">{{langs.typeChoeur}}</label>
        <select class="custom-select" id="ChoirTypeId" name="ChoirTypeId">
            {{#each choirTypes}}
                <option value="{{this.id}}">{{this.choirType}}</option>
            {{/each}}
        </select>
    </div>


    <button type="submit" class="btn btn-primary">{{lookup langs action}} {{langs.choir}}</button>

</form>

<script defer>
    $(document).ready(function(){
    setSelectOption('GroupeId', {{choeur.GroupeId}});
    setRadiobuttonChecked('memberfc',{{choeur.memberfc}});
    var GroupeId ;
    var membrefc ;
    var chEglise ;
    var chGospel;
    var LanguageId;
    var ChoirtypeId;
    });
</script>


