<div class="row">

        {{#each choeurs}}
        <div class="row border">
            <div class="col-sm-3"><h4>{{this.choirName}}</h4></div>
            <div class="col-sm-3"><h4>{{this.Locality.localityName}}</h4></div>

            <div class="col-sm-3"><h4><a href="{{this.website}}">{{this.website}}</a></h4></div>
            <div class="col-sm-3"><h4>{{this.choir.personn}}</h4></div>

        </div>

        {{/each}}
    </div>



</div>


