<div class="row">

        {{#each choeurs}}
        <div class="row border">
            <div class="col-sm-3"><h3>{{this.choirName}}</h3></div>
            <div class="col-sm-3"><h3>{{this.Locality.localityName}}</h3></div>

            <div class="col-sm-3"><h3><a href="{{this.website}}">{{this.website}}</a></h3></div>
            <div class="col-sm-3"><h3>{{this.choir.personn}}</h3></div>

        </div>

        {{/each}}
    </div>



</div>


