<div class="row">

    {{#if choeurs}}
    {{#each choeurs}}
        <div class="row border" style="padding-bottom:20px;">
            <div class="col-sm-3"><h4><a href="/choeurs/{{this.id}}">{{this.choirName}}</a></h4></div>
            <div class="col-sm-3"><h4>{{this.Locality.localityName}}</h4></div>

            <div class="col-sm-3"><h4><a href="http://{{this.website}}">{{this.website}}</a></h4></div>
            <div class="col-sm-3"><h4>{{this.choir.personn}}</h4></div>

        </div>

    {{/each}}
    {{else}}
        <h3>No choir found</h3>
    {{/if}}

</div>



</div>


