<form action='/choeurs/' method="post">

<div class='col-md-4'>
    <label for="inputsm">{{langs.membrefed}}</label>
    <div class="radio">
        <label><input type="radio" name="memberfc" value="null" checked>{{langs.all}}</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="memberfc" value="1">{{langs.yes}}</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="memberfc" value="0">{{langs.no}}</label>
    </div>
</div>

<div class='col-md-4'>
    <label for="inputsm">{{langs.regionling}}</label>
    <div class="radio">
        <label><input type="radio" name="region" value="null" checked>{{langs.all}}</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="region" value="bas-valais">Haut-Valais</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="region" value="bas-valais">Bas-Valais</label>
    </div>
</div>

<div class='col-md-4'>
    <label for="inputsm">Groupement</label>
    <div class="radio disabled">
        <label><input type="radio" name="groupe" value="null" checked>{{langs.all}}</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="groupe" value="GSCBV">GSCBV</label>
</div>
    <div class="radio">
        <label><input type="radio" name="groupe" value="UCC">UCC </label>
    </div>
    <div class="radio">
        <label><input type="radio" name="groupe" value="GCGV">GCVC </label>
    </div>
    <div class="radio">
        <label><input type="radio" name="groupe" value="OCV">OCV</label>
    </div>
</div>
<div class='col-md-4'>
    <label for="inputsm">{{langs.typeChoeur}}</label>
    <div class="radio">
        <label><input type="radio" name="typechoeur" value="null" checked>{{langs.adultes}}</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="typechoeur" value="mixte">{{langs.mixte}}</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="typechoeur" value="hommes" disabled>{{langs.hommes}}</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="typechoeur" value="jeunes" disabled>{{langs.jeunes}}</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="typechoeur" value="dames" disabled>{{langs.dames}}</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="typechoeur" value="enfants" disabled>{{langs.enfants}}</label>
    </div>
</div>

<div class='col-md-4'>
    <label for="inputsm">{{langs.president}}</label>
    <div class="form-group">
    <select class="selectpicker form-control input-sm" name="director" id="president">
        {{#each president}}
            <option>{{this}}</option>
        {{/each}}
    </select>
    </div>
</div>


<div class='col-md-4'>
    <label for="inputsm">{{langs.chefDeChoeur}}</label>
    <div class="form-group">
    <select class="selectpicker form-control input-sm" name="director" id="director">
        {{#each director}}
            <option>{{this}}</option>
        {{/each}}
    </select>
    </div>
</div>

<div class='col-md-8' style="vertical-align:bottom;">
    <br />
    <button type="submit" id="btnSubmit" style="width:100%;" name="Submit">{{langs.rechercher}}</button>
</div>
</form>
