
<div class="container" >
            <div >
                <h2>{{langs.AdminLogin}}</h2>
                <p>{{langs.pleaseCredentials}}</p>
            </div>
            <form action="./login" method="post" >

                <div class="form-group">
                    <input type="text" class="form-control" id="inputEmail" placeholder="{{langs.username}}">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="{{langs.password}}">
                </div>
                <button type="submit" class="btn btn-primary">{{langs.login}}</button>
            </form>
</div>




