
    <div class="col-sm-4 border">
    <h3>Comité<br/> directeur</h3>

        <div class="row border">
            <div class="col-sm-6 nomargin" style="padding-top:20px">
                <img style="width:100%;
; margin-bottom:20px;" src="/images/persons/{{personnes.0.refPicture}}">
            </div>
            <div class="col-sm-6 nomargin" style="padding-top: 10px;">
                <h4>{{personnes.0.lastname}}    {{personnes.0.firstname}}</h4>
                <b>{{{personnes.0.Function.functionName}}}</b><br/>
                <p>{{{personnes.0.address1}}}<br/>
                    {{personnes.0.mobile}}</p>
            </div>

        </div>

    </div>

    <div class="col-sm-4 border">
        <h3>Présidents <br/>des groupements</h3>

            <div class="row border">
                <div class="col-sm-6 nomargin" style="padding-top:20px">
                    <img style="width:100%;
; margin-bottom:20px;" src="/images/persons/{{personnes.2.refPicture}}">
                </div>
                <div class="col-sm-6 nomargin" style="padding-top: 10px;">
                    <h4>{{personnes.2.lastname}}    {{personnes.2.firstname}}</h4>
                    <b>{{{personnes.2.Function.functionName}}}</b><br/>
                    <p>{{{personnes.2.address1}}}<br/>
                        {{personnes.2.mobile}}</p>
                </div>

            </div>


    </div>
    <div class="col-sm-4 border">
        <h3>Co-Présidents <br/>de la Commission de Musique</h3>

        <div class="row border">
            <div class="col-sm-6 nomargin" style="padding-top:20px">
                <img style="width:100%;
; margin-bottom:20px;" src="/images/persons/{{personnes.3.refPicture}}">
            </div>
            <div class="col-sm-6 nomargin" style="padding-top: 10px;">

                <h4>{{personnes.3.lastname}}    {{personnes.3.firstname}}</h4>
                <b>{{{personnes.3.Function.functionName}}}</b><br/>
                <p>{{{personnes.3.address1}}}<br/>
                    {{personnes.3.mobile}}</p>
            </div>

        </div>



    </div>


    </div>

</div>
