
<div class="col-sm-4 border">
    <h3>Comission<br/>de la musique</h3>

    <div class="row border">
        <div class="col-sm-6 nomargin" style="padding-top:20px">
            <img style="width:100%;
; margin-bottom:20px;" src="/images/persons/{{personnes.0.refPicture}}">
        </div>
        <div class="col-sm-6 nomargin" style="padding-top: 10px;">
            <h4>{{personnes.0.lastname}}    {{personnes.0.firstname}}</h4>
           {{{personnes.0.Function.functionName}}}<br/>
            <p>{{{personnes.0.address1}}}<br/>
                {{personnes.0.phone}}</p>
        </div>

    </div>

</div>



</div>


</div>

</div>
