
<div class="col-sm-4 border">
    <h3>Comission<br/>de la musique</h3>

    <div class="row border">
        <div class="col-sm-6 nomargin" style="padding-top:20px">
            <img style="width:100%;
; margin-bottom:20px;" src="/images/persons/{{personnes.5.refPicture}}">
        </div>
        <div class="col-sm-6 nomargin" style="padding-top: 10px;">
            <h4>{{personnes.5.lastname}}    {{personnes.5.firstname}}</h4>
           <b>{{{personnes.5.Function.functionName}}}</b><br/>
            <p>{{{personnes.5.address1}}}<br/>
                {{personnes.5.phone}}</p>
        </div>

    </div>
    <div class="row border">
        <div class="col-sm-6 nomargin" style="padding-top:20px">
            <img style="width:100%;
; margin-bottom:20px;" src="/images/persons/{{personnes.4.refPicture}}">
        </div>
        <div class="col-sm-6 nomargin" style="padding-top: 10px;">
            <h4>{{personnes.4.lastname}}    {{personnes.4.firstname}}</h4>
            <b>{{{personnes.4.Function.functionName}}}</b><br/>
            <p>{{{personnes.4.address1}}}<br/>
                {{personnes.4.phone}}</p>
        </div>

    </div>

    <div class="row border">
        <div class="col-sm-6 nomargin" style="padding-top:20px">
            <img style="width:100%;
; margin-bottom:20px;" src="/images/persons/{{personnes.3.refPicture}}">
        </div>
        <div class="col-sm-6 nomargin" style="padding-top: 10px;">
            <h4>{{personnes.3.lastname}}    {{personnes.3.firstname}}</h4>
            <b>{{{personnes.3.Function.functionName}}}</b><br/>
            <p>{{{personnes.3.address1}}}<br/>
                {{personnes.3.phone}}</p>
        </div>

    </div>

</div>



</div>


</div>

</div>
