<div class="row">
    <img src="/images/carte_valais.gif">

</div>

<div class="row">
    <div class="row border">
        <h4 style="color:#f60;padding-bottom:10px;\">{{groups.0.groupName}}</h4>
    </div>
    <div class="row border">
        <h4 style="color:#ff0;padding-bottom:10px;\">{{groups.1.groupName}}</h4>
    </div>
    <div class="row border">
        <h4 style="color:#90c;padding-bottom:10px;\">{{groups.2.groupName}}</h4>
    </div>   <div class="row border">
    <h4 style="color:#01ff01;padding-bottom:10px;\">{{groups.3.groupName}}</h4>
</div>
</div>   <div class="row border">
    <h4 style=\"color:#000;padding-bottom:10px;\">{{{groups.4.groupName}}}</h4>
</div>

</div>