
<div>
<h3>{{langs.choirgrass}} <span class="badge badge-secondary">2018</span></h3>
</div>
<div>

    <div class="row">

        <div class="col-sm-6">

            <div class="card-group">
                <div class="card border-dark mb-3">
                    <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2018/06/ch2018-affiche.png?zoom=2&amp;resize=574%2C823" alt="" width="562" height="789">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <small class="text-muted">

                        </small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">

            <div class="card-group">
                <div class="card border-dark mb-3">
                    <h5 class="card-title">{{langs.nextconcerts}}</h5>
                    <p class="card-text">
                        <small class="text-muted">

                        </small></p>
                </div>
            </div>
            <div>
                <ul class="list-group">
                <li class="list-group-item">{{langs.nextconcerts}}</li>


                    <li class="list-group-item list-group-item-success">11/11/2018 (17:00) - <a href=""> Cantamabile Vocal Ensemble - Jazz Concert</a></li>
                    <li class="list-group-item list-group-item-secondary">17/11/2018 (20:00) - <a href="">Participation of "La Davidica" at the concert of "The voice of the Hills" in Grenchen</a></li>
                <li class="list-group-item list-group-item-success">31/03/2019 (17:00) - <a> Annual Concert Mixed Choir "La Davidica"</a></li>

            </ul>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Identification</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="{{langs.username}}">
                        <small id="username" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{langs.password}}">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">{{langs.login}}</button>
                </form>

            </div>
        </div>
    </div>









<div class="card-group">
    <div class="card border-dark mb-3">
        <img class="card-img-top" src="https://i2.wp.com/www.chanter.ch/wp/wp-content/uploads/2017/01/flyerbackprint1.jpg?zoom=2&resize=574%2C813" alt="" width="562" height="789">
        <h5 class="card-title"><a href="">{{langs.registrationformnewdeadline}} 20 {{langs.may}} </a></h5></div>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted"></small></p>
    </div>

</div>
    </div>
</div>
<hr />
<div class="card-group" >

    <div>
        <h3>Archives {{langs.choirgrass}} <span class="badge badge-secondary">2016</span></h3>
    </div>
    <div class="card border-dark mb-3">
        <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2016/08/DSCN7223.jpg?zoom=2&resize=276%2C207" height="189" width="280" alt="" width="562" height="789">
        <h5 class="card-title"></h5>
        <p class="card-text">
            <small class="text-muted">

            </small></p>
    </div>
<hr />
    <div>
        <h3>Flyers <span class="badge badge-secondary">2016</span></h3>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">

                    <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2016/02/ChoeurenHerbe2016.jpg?zoom=2&resize=188%2C266" height="189" width="220" alt="" width="562" height="789">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">

                    <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2016/02/ChoeurenHerbe2016_verso.jpg?zoom=2&resize=188%2C266" height="189" width="280" alt="" width="562" height="789">
                </div>
            </div>
        </div>
    </div>



</div>
<hr />



<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>A {{langs.souvenier2015}} <span class="badge badge-secondary">2015</span></h3>
                <iframe width="610" height="344" src="https://www.youtube.com/embed/9BDiX4TyrqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<hr />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Archives {{langs.choirgrass}} <span class="badge badge-secondary">2015</span></h3>
                <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2013/10/ChoeurEnHerbe2014.jpg?zoom=2&resize=274%2C206" height="189" width="280" alt="" width="562" height="789">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Archives {{langs.choirgrass}} <span class="badge badge-secondary">2014</span></h3>
                <img class="card-img-top" src="https://i2.wp.com/www.chanter.ch/wp/wp-content/uploads/2015/07/11224508_10207095962178255_3065604060537611171_o.jpg" height="189" width="280" alt="" width="562" height="789">
            </div>
        </div>
    </div>
</div>



</div>