
<div>
    <h3>Frapp'Fesival <span class="badge badge-secondary"></span></h3>
</div>
<div>

    <div class="row">

        <div class="col-sm-6">

            <div class="card-group">
                <div class="card border-dark mb-3">

                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <small class="text-muted">
                            {{langs.frappfestivaldetails1}}
                        </small></p>

                    <p class="card-text">
                        <small class="text-muted">
                            {{langs.frappfestivaldetails2}}
                        </small></p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{langs.frappfestivaldetails3}}
                        </small></p>

                    <p class="card-text">
                        <small class="text-muted">
                            {{langs.frappfestivaldetails4}}
                        </small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">

            <div class="card-group">
                <div class="card border-dark mb-3">
                    <h5 class="card-title">{{langs.nextconcerts}}</h5>
                    <p class="card-text">
                        <small class="text-muted">

                        </small></p>
                </div>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">{{langs.nextconcerts}}</li>


                    <li class="list-group-item list-group-item-success">11/11/2018 (17:00) - <a href=""> Cantamabile Vocal Ensemble - Jazz Concert</a></li>
                    <li class="list-group-item list-group-item-secondary">17/11/2018 (20:00) - <a href="">Participation of "La Davidica" at the concert of "The voice of the Hills" in Grenchen</a></li>
                    <li class="list-group-item list-group-item-success">31/03/2019 (17:00) - <a> Annual Concert Mixed Choir "La Davidica"</a></li>

                </ul>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Identification</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="{{langs.username}}">
                        <small id="username" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{langs.password}}">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">{{langs.checkme}}</label>
                    </div>
                    <button type="submit" class="btn btn-primary">{{langs.login}}</button>
                </form>

            </div>
        </div>
    </div>



</div>
</div>
</div>

<hr />







</div>