<div class="container">
    <table>
        <tr>
            <th>id</th>
            <th>{{langs.firstname}}</th>
            <th>{{langs.lastname}}</th>
            <th>Role</th>
            <th></th>
        </tr>
        {{#each person}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td>{{this.Roles.0.roleName}}</td>
                <td><button class="btn btn-secondary" onclick="location.href='/admin/person/edit/{{this.id}}'">{{../langs.modifier}}</button></td>
                <td>
                    <form action="/admin/person/delete" method="post">
                        <input type="hidden" name="id" value="{{this.id}}"/>
                        <input type="submit" name="submit" class="btn btn-danger" value="{{../langs.delete}}"/>
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>

</div>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

